extends layout

block content

  h1.mb-4 Category List

  if message
    .alert.alert-success= message

  a.btn.btn-primary.mb-3(href="/categories/add")
    | Add Category

  .table-responsive

    table.table.table-bordered.table-striped#categoryTable

      thead

        tr
          th Category ID
          th Category Name
          th Action

      tbody

        each category in categories

          tr

            td= category.categoryId

            td= category.name

            td

              a.btn.btn-warning.btn-sm.me-2(
                href="/categories/edit/" + category.id
              )
                | Edit

              a.btn.btn-danger.btn-sm(
                href="/categories/delete/" + category.id
                onclick="return confirm('Are you sure you want to delete this category?')"
              )
                | Delete